.brand {padding-left: 20px;}
.navcolor {background-color: #B01E68;}
#dot3 {margin-top: 17px;opacity: .75; ;border-style:dotted none none none ; border-width: 8px; width: 30px; height: 0; border-color: #DC3535;}
.btntg {margin-right: 10px;}
.nvclps {padding-left: 20px;}
.fiks {position: fixed; width: 100%; z-index: 100;} /*its for fixing the navbar. put into nav class and it fixes. needs a margin from div below othervise hides content*/
#title {background-color: #DC3535;}
#headpage {padding-top: 100px; padding-bottom: 60px;}
#headtext {padding-left: 10px; font-size: calc(1.5rem + 1.5vw); margin-bottom: 25px;}
#b1 {margin-left: 35px; margin-right: 22px;}
#headimg {height: auto; width: 100%; position: static;}
.btnspc {padding-bottom: 20px;}
#features {text-align: center; background-color: #DC3535;}
#wwd {padding-top: 75px;}
.col4wwd {margin-bottom: 60px; margin: 0 auto 60px auto; border-radius: 8%; background-color: #FFE15D; padding-top: 20px;}
#padpara {padding-bottom: 50px;}
.rm {margin: 0 auto 0 auto;}
.fa-5x:hover {color:#B01E68}

#testimonials {z-index: -99;background-color: #DC3535; text-align: center; padding-top: px; padding-bottom: ;}
.ron {height: auto; width: 20%;border-radius: 100%; }
.testcont {background-color: #DC3535; border-radius: 2%; margin: 0 auto 0 auto; width: calc(15rem + 38vw);}
.testirow {}
.testtext {padding: 100px 20px 20px 20px;}
.rontext {padding: 5px 0 5px 0;}
#press {background-color: #DC3535; text-align: center; padding: 5px 0px 25px 0;}
.sponsor {width: 10%; margin: 10px 5% 10px 5%;}
.btnbtn {width: 20px; height: 20px; margin: 0 3px 0 3px;}
.btnins {border-style: dotted none none none; border:; border-width: 20px; color: #FFE15D; opacity: 0.75;}
#pricing {background-color: #DC3535; text-align: center; padding-top: 100px;}
.tgr {color:lightgray; padding-bottom: 25px;}
.fuckp {margin: 0;}
.divitself {padding: 0 12px;}
.p2 {margin-bottom: 44px;}
#fucker {margin-bottom:12px;}
.cc {padding-bottom: 50px;}
.ph {margin-top: 8px;}
.card {background-color:mintcream;}

#cta {background-color: #DC3535; text-align: center; padding-bottom: 50px;}
.dob {font-size: 60px ; font-weight: bold; padding: 40px;}

#footer {text-align: center; padding: 50px; background-color: #B01E68;}
.fa-2x {padding: 10px; color: #fff;}


/* 991px */
@media (max-width: 991px) { 
    .col4wwd {margin-bottom: 60px; margin: 0 auto 60px auto; border-radius: 8%;
 background-color: #FFE15D; padding-top: 20px; width: 300px;}
    .colpd {padding-bottom: 55px;}
    .card {width: 350px; margin: 0 auto;}
    
}
@media (min-width: 1515px) {.ctab {width: 10%;}}